{% extends "base/layout.html" %}
{% block styles %} 
rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}"
{% endblock %}
{% block title %}Iberia Airlines | Dashboard{% endblock %}

{% block sectiontitle %} Incidents Raised {% endblock %}

{% block main %}
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <h2>Total Ammount of Incidents Per Month | Graph 1</h2>
                    <iframe src="/total_incidents_1/" id="my-iframe" width=100% height=480></iframe>
                </div>
            </div>
        </div>
    </div>    

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <h2>Critical Incidents per Month | Graph 2</h2>
                    <iframe src="/total_incidents_2/" id="my-iframe" width=100% height=480></iframe>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <h2>Incidents Priority per Month | Graph 3</h2>
                    <iframe src="/total_incidents_3/" id="my-iframe" width=100% height=480></iframe>
                </div>
            </div>
        </div>
    </div> 

{% endblock %}