/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  
  /* 
  Read about it...
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  
  
  
  html, body {
      height: 100%; /* let them know they can be this tall if they want - because they don't already know for some reason... */
  }
  
  body {
      margin: 0;
  }
  
  .master-container {
      min-height: 100%; /* force height of html and body */
      margin-bottom: -79px; /* opposite of footer buffer! */
  }
  
  .container { /* what is common to all the big blocks */
      width: 100%;
      float: left;
  }
  
  .global-header {
      height: 91px;
      background: lightblue;
  }
  
  .global-nav .menu {
      list-style: none;
      margin: 0; padding: 0;
  }
  
  .menu li {
      float: left;
      margin-right: 1em;
  }
  
  .main-content {
      /* ? */
  }
  
  .global-footer, .footer-buffer {
      height: 79px; 
  }
  
  .global-footer {
      background: pink;
  }

  .text-center {
    text-align: center;
  }

  .footer-links {
    list-style-type: none;
  }
