{% extends "base.html" %}

{% block styles %} 
rel="stylesheet"
href="{{url_for('static', filename='css/login.css')}}"
{% endblock %}

{% block title %}TIP Project | Log in{% endblock %}

{% block main %}
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" action="/login" method="POST">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="username" class="login__input" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				<div class="login__link">
					<a href="/signup">Create Account</a>
				</div>
									
			</form>
			<div class="iberia__logo">
				<img class= "logo" src="/static/img/logo_iberia.png" alt="iberia logo">
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
{% endblock %}